<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4" class="main">
    <nz-alert nzType="success" *ngIf='!isEdit' nzMessage="Add"></nz-alert>
    <nz-alert nzType="success" *ngIf='isEdit' nzMessage="Edit"></nz-alert>
    <div class='text-right'>
      <a nz-button routerLink='/'>Back</a>
    </div>
    <form>
      <div class="full-width">
        <input nz-input placeholder="title" [(ngModel)]="params.title" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="full-width">
        <input nz-input placeholder="email" [(ngModel)]="params.email" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="full-width">
        <input nz-input placeholder="phone number" [(ngModel)]="params.phoneNumber" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="full-width">
        <input nz-input placeholder="user name" [(ngModel)]="params.userName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="full-width">
        <input nz-input placeholder="password" [(ngModel)]="params.password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="full-width">
        <textarea rows="4" nz-input placeholder="memo" [(ngModel)]="params.memo" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </form>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
      <div nz-col nzSpan="2" nzOffset="20">
        <button nz-button (click)="removeItem()" *ngIf="isEdit" nzBlock>Delete</button>
      </div>
      <div nz-col nzSpan="2">
        <button nz-button (click)="onSubmit()" nzBlock>Submit</button>
      </div>
    </div>
  </div>
</div>