div.main-right{
    width:25%;
    position: absolute;
    top:20px;
    right:20px;
}
div.main-right div.text-right{
    text-align: right;
    margin:5px 0;
}
div.main-right > form > .full-width{
    width:100%;
    margin:5px 0;
}